@media screen and (max-width: 850px) {
  .form {
    .result_box {
      width: 80% !important;
    }
    .radio-box-wrap {
      width: 80% !important;
      label {
        padding: 10px 7px !important;
        font-size: 15px !important;
      }
    }
    button {
      width: 80% !important;
    }
  }
}

.container {
  .form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .result_box {
      width: 50%;
      height: 200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 20px;
      }
      border: 3px #333 solid;
      border-radius: 10px;
    }
    .radio-box-wrap {
      width: 50%;
      margin: 0 auto;
      border-top: 3px #333 solid;
      border-bottom: 3px #333 solid;
      display: flex;
      justify-content: center;
      .radio-box {
        input {
          display: none;
          &:checked + label {
            background-color: #41b883;
          }
        }
        label {
          display: inline-block;
          font-size: 20px;
          padding: 12px;
          white-space: nowrap;
          text-wrap: nowrap;
          word-break: keep-all;
          cursor: pointer;
        }
      }
    }
    button {
      border: 3px #333 solid;
      background-color: #41b883;
      border-radius: 10px;
      font-size: 20px;
      margin: 0 auto;
      width: 50%;
      height: 100px;
      &:disabled {
        background-color: #888;
        pointer-events: none;
      }
    }
  }
}
